<!-- Deutsch -->

<div class='settings-container'>
        <!--<p style='font-weight: bold;'>Event</p>
        <ul>
                <li>- April Nachrichten: <span id='feedbackAprilMessages'>An</span><input id='aprilMessages'
                        style='float: right;' oninput='updateAprilMessages(this.checked, null)' type='checkbox' checked>
                </li>
        </ul>-->
        <p style='font-weight: bold;'>Zufallsfunktionen</p>
        <ul>
                <li>- Schiffs-Wurf: 
                        <select id='diceRollType' style='float: right;' oninput='updateDiceRollType(this.value, this)'>
                                <option value='random'>Zufällig</option>
                                <option value='classSet'>Jede Klasse</option>
                        </select>
                <li>
                <li>- Schiffs-Wurf häufigkeit: 
                        <select id='diceRollFrequency' style='float: right;' oninput='updateDiceRollFrequency(this.value, this)'>
                                <option value='daily'>Täglich</option>
                                <option value='reload'>Neuladen</option>
                                <option value='threeThrows'>Pro 3 Ziehungen</option>
                        </select>
                <li>
        </ul>
        <p style='font-weight: bold;'>Aussehen</p>
        <ul>
                <li>- Tombola Skin: 
                        <select id='skinType' style='float: right;' oninput='updateSkinType(this.value, this, false)'>
                                <option value='default'>Standard</option>
                                <option value='Casino'>Slotmaschine</option>
                        </select>
                <li>
        </ul>
        <p style='font-weight: bold;'>Ton</p>
        <ul>
                <li>- Lautstärke: <span id='feedbackVolumeCount'>100</span><input id='volumeAmount'
                                style='float: right;' oninput='updateVolume(this.value, null)' type='range' min='0'
                                max='100' value='100'>
                <li>
                <li>- Kratztöne: <span id='feedbackScratchSounds'>An</span><input id='scratchSounds'
                                style='float: right;' oninput='updateScratchSounds(this.checked, null)' type='checkbox' checked>
                <li>
                <li>- Verrückter Krado Modus: <span id='feedbackCrazyMode'>Aus</span><input id='crazyMode'
                                style='float: right;' oninput='updateCrazyMode(this.checked, null)' type='checkbox'>
                <li>
                <li>- Memory Musik: <span id='feedbackMemoryMusic'>An</span><input id='memoryMusic'
                        style='float: right;' oninput='updateMemoryMusic(this.checked, null)' type='checkbox'>
                <li>
                <li>- Konfetti Sound: 
                        <select id='confettiSound' style='float: right;' oninput='updateConfettiSound(this.value, this)'>
                                <option value='pop'>Pop</option>
                                <option value='nere'>Nere Diabolus</option>
                                <option value='abpralla'>Krom Abprallaaaa</option>
                        </select>
                <li>
        </ul>
        <p style='font-weight: bold;'>Memory</p>
        <ul>
                <li>- Zeige Karten zu Beginn: <span id='feedbackMemorize'>Aus</span><input id='memorize'
                                style='float: right;' oninput='updateMemoryEnableMemorize(this.checked, null)' type='checkbox'>
                <li>
                <li>- Zeige Schiffsnamen: <span id='feedbackMemoryShowNames'>An</span><input id='memoryShowNames'
                        style='float: right;' oninput='updateMemoryShowNames(this.checked, null)' type='checkbox' checked>
                <li>
        </ul>
        <p style='font-weight: bold;'>Konfetti</p>
        <ul>
                <li>- Anzahl: <span id='feedbackConfettiCount'>100</span><input id='confettiAmount'
                                style='float: right;' oninput='updateAmount(this.value, null)' type='range' min='10'
                                max='500' value='100'>
                <li>
                <li>- Horizontale Streuung: <span id='feedbackHorizontalMax'>500</span><input id='confettiHorizontal'
                                style='float: right;' oninput='updateHorizontalMax(this.value, null)' type='range'
                                min='250' max='1500' value='500'>
                <li>
                <li>- Vertikale Streuung: <span id='feedbackVerticalMax'>150</span><input id='confettiVertical'
                                style='float: right;' oninput='updateVerticalMax(this.value, null)' type='range'
                                min='50' max='750' value='150'>
                <li>
                <li style="padding-bottom:1rem">- Diddn: <span id='feedbackDiddn'>An</span><input id='diddn'
                        style='float: right;' oninput='updateDiddn(this.checked, null)' type='checkbox' checked>
        </ul><a class='button dialog-button' onclick='launchConfetti()'>Testen</a>
</div>