.flex {
    display: flex;
}

.column {
    flex-direction: column;
}

.row {
    flex-direction: row;
}

.align-left {
    justify-content: left;
    margin-right: auto;
}

.align-right {
    justify-content: right;
    margin-left: auto;
}

.align-center {
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

.flex-wrap {
    flex-wrap: wrap;
}

.middle {
    display: inline;
    vertical-align: middle;
}

.padding-vertical {
    padding-top: 8rem;
    padding-bottom: 8rem;
}

@media (max-width: 768px) {
    .row {
        flex-direction: column;
    }

    .align-left {
        justify-content: center;
        margin-right: 0;
    }
    
    .align-right {
        justify-content: center;
        margin-left: 0;
    }
}