:root {
    font-family: "Roboto", sans-serif;
    color: white;

    --side-paddding: 10.625rem;
}

body {
    display: flex;
    flex-direction: column;

    background-color: rgba(16, 32, 49, 1);

    justify-content: space-between;
}

.background {
    background-color: rgba(16, 32, 49, 1);
}

b {
    font-weight: bold;
}

i {
    font-style: italic;
}

a,
.clickable {
    cursor: pointer;
    color: rgb(0, 140, 255);
    text-decoration: none;
}

a:hover,
.clickable:hover {
    color: rgb(0, 140, 255);
    text-decoration: underline;
}

.background-image {
    position: fixed;
    width: 100%;
    height: 100%;

    opacity: 0.25;

    object-fit: cover;

    z-index: -999;
}

.no-scrollbars {
    overflow: hidden;
}

.no-scrollbar-h,
.no-scrollbar-x {
    overflow-x: hidden;
}

.no-scrollbar-v,
.no-scrollbar-y {
    overflow-y: hidden;
}

.settings-container > * {
    margin-right: 1rem;
}

.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    overflow: scroll;
}

.overlay[hidden] {
    display: none;
}

@media (max-width: 1300px) {
    :root {
        --side-paddding: 4rem;
    }
}

@media (max-width: 768px) {
    :root {
        --side-paddding: 1rem;
    }
}

/* Header */

header {
    display: flex;

    min-height: 3.75rem;

    padding-left: var(--side-paddding);
    padding-right: var(--side-paddding);

    align-items: center;

    background-color: #333333;
}

h1 {
    font-size: 20pt;
    font-weight: bold;
}

.header-label {
    margin-left: 2rem;
}

.special {
    display: inline-block;

    color: white;

    font-size: 16pt;
    padding: 0.75rem;
    padding-left: 0.5rem;

    transform: rotate(-20deg);
    transform-origin: center center;

    background-color: red;
    clip-path: polygon(48% 11%, 57% 26%, 66% 11%, 68% 28%, 79% 19%, 79% 36%, 91% 41%, 82% 52%, 91% 64%, 82% 67%, 86% 84%, 76% 75%, 76% 94%, 68% 78%, 63% 94%, 58% 80%, 52% 96%, 48% 81%, 43% 96%, 40% 78%, 33% 95%, 32% 77%, 25% 91%, 24% 73%, 17% 91%, 17% 73%, 6% 78%, 13% 61%, 4% 56%, 12% 47%, 5% 32%, 14% 31%, 15% 14%, 23% 25%, 30% 10%, 38% 21%);
}

@media (max-width: 1300px) {
    .game {
        display: none;
    }
}

@media (max-width: 768px) {
    header {
        flex-direction: column;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
    }
}

/* Section */

section {
    display: flex;
    flex-direction: row;

    padding-left: var(--side-paddding);
    padding-right: var(--side-paddding);
}

.ship-list {
    width: 20rem;

    background-color: rgba(255, 255, 255, 0.25);

    margin-top: 2rem;
    padding: 2.25rem 2rem;

    border-style: solid;
    border-radius: 4px;
    border-color: rgba(255, 255, 255, 0.75);
    border-width: 1px;

    transition: width 250ms ease-in-out, height 250ms ease-in-out;
    transition-delay: 0ms;
}

.ship-list[collapsed] {
    width: 3rem;
    height: 44rem;

    overflow: hidden;

    transition-delay: 250ms;
}

.ship-list > * {
    opacity: 1;

    transition: opacity 250ms ease-in-out;
    transition-delay: 250ms;
}

.ship-list[collapsed] > * {
    opacity: 0;
    
    transition-delay: 0ms;
}

@media (max-width: 768px) {
    .ship-list[collapsed] {
        width: 20rem;
    }
    
    .ship-list > * {
        opacity: 1;
    }
    
    .ship-list[collapsed] > * {
        opacity: 1;
    }
}

.ship-list h2 {
    font-size: 16pt;
    font-weight: bold;
    margin-bottom: 1rem;
}

.ship-list ul {
    list-style-type: none;

    min-height: 10rem;
    max-height: calc(100vh - 44.25rem);

    margin-top: 0.5rem;

    overflow: auto;
}

.ship-list li {
    padding: 0.25rem 0.5rem;
}

.ship-list li img {
    display: inline;

    height: 1.25rem;
    width: auto;

    margin-right: 0.5rem;
    margin-left: 0.5rem;
    margin-bottom: -0.25rem;
}

.ship-list li .tier {
    display: inline-block;
    width: 1.5rem;
    font-weight: bold;
    margin-right: 0.5rem;
}

.ship-list li .class {
    margin-right: 0.5rem;
    font-style: italic;
}

.flag {
    display: inline;

    height: 1.25rem;
    width: auto;

    margin-bottom: -0.3rem;
}

.large  {
    height: 4rem;

    margin-bottom: 0px;
}

.singleline-ship-display img {
    display: inline;

    height: 2.5rem;
    width: auto;

    margin-right: 0.5rem;
    margin-left: 0.5rem;
    margin-bottom: -0.75rem;
}

.singleline-ship-display .tier {
    display: inline-block;
    font-weight: bold;
    margin-right: 0.5rem;
}

.singleline-ship-display .class {
    margin-right: 0.5rem;
    font-style: italic;
}

.filter-list label {
    margin-right: 0.5rem;
}

.randomizer {
    margin-top: 2rem;
    margin-left: 2rem;
}

.premium {
    color: goldenrod;
}

.otherProjects {
    margin-top: 2rem;
}

.otherProjects p {
    line-height: 1.5rem;
}


@media (max-width: 1300px) {
    .ship-list {
        margin-bottom: 2rem;
    }

    .otherProjects {
        display: none;
    }
}

/* Search Bar */

.search-bar {
    margin-bottom: 0.5rem;
    padding: 0.5rem 0.5rem;

    border-color: white;
    border-style: solid;
    border-width: 1px;
    border-radius: 100vh;
}

.search-bar input[type="text"] {
    width: 100%;
    background-color: transparent;

    margin-left: 0.5rem;
    margin-right: 0.5rem;

    border: none;

    color: white;
}

.search-bar input[type="text"]:focus {
    border: none;
    outline: 0;
}

.search-bar input[type="text"]::placeholder {
    color: rgba(255, 255, 255, 0.75);
}

.special-login {
    --height: 4rem;
    display: block;

    width: 100%;
    height: var(--height);

    background-color: rgba(218, 165, 32, 0.5);
    
    border-radius: 0.5rem;
    border-color: rgba(218, 165, 32, 0.75);
    border-style: solid;
    border-width: 2px;

    text-align: center;
    line-height: calc(var(--height) / 2);

    margin-top: 0.5rem;

    transition: background-color 500ms ease-in-out, border-color 500ms ease-in-out, transform 300ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.special-login:hover {
    background-color: rgb(194, 147, 29);

    border-color: rgb(194, 147, 29);

    transform: scale(1.05, 1.05);
}

.special-login:focus {
    background-color: goldenrod;
    border-color: goldenrod;

    transform: scale(0.95, 0.95);
}

/* Custom Elements */

space {
    display: inline-block;
}

space[size="small"] {
    width: 1rem;
}

space[size="medium"] {
    width: 2rem;
}

space[size="large"] {
    width: 4rem;
}

/* Ship Ticket */

.ship-ticket {
    display: flex;
    flex-direction: column;

    width: 35rem;
    height: 20rem;

    background-color: rgba(255, 255, 255, 0.25);

    border-radius: 8px;
    border-color: goldenrod;
    border-width: 4px;
    border-style: solid;

    margin-inline: auto;

    transition: opacity 500ms ease-in-out, transform 1000ms ease-in-out;
    opacity: 1;
}

.ship-card {
    display: flex;
    flex-direction: column;

    width: 15rem;
    height: 20rem;

    background-color: rgba(255, 255, 255, 0.25);

    border-radius: 8px;
    border-color: #daa520;
    border-width: 4px;
    border-style: solid;

    margin-inline: 0.5rem;

    transition: opacity 500ms ease-in-out, transform 1000ms ease-in-out;
    opacity: 1;
}

.ship-card:hover {
    cursor: pointer;
}

.ship-card::after {
    content: "";
    position: absolute;

    top: 0;

    width: 100%;
    height: 100%;

    opacity: 1;
    background-color: goldenrod;

    transition: opacity 1250ms cubic-bezier(1, 0.15, 0.9, 0.9);
}

.ship-ticket[hidden] {
    opacity: 0;
    transform: rotateY(720deg) translateY(25px) scale(0.8);
}

.ship-ticket.solid {
    background-color: rgba(255, 255, 255, 0.33);
}

@keyframes ship-card-flip {
    0% {
        opacity: 0;
        transform: rotateY(90deg);
        scale: 0.8;
    }
    25% {
        opacity: 1;
        scale: 1.0;
    }
    100% {
        opacity: 1;
        transform: rotateY(720deg);
    }
}

.ship-card[hidden] {
    opacity: 0;
    transform: rotateY(90deg);
}

.ship-card[animate] {
    opacity: 1;
    transform: rotateY(180deg);
}

.ship-card[un-flipped] {
    transform: rotateY(0deg);
}

.ship-card[un-flipped]:hover {
    cursor: default;
}

.ship-card[un-flipped]::after {
    opacity: 0;
}

.ship-card[chosen] {
    transform: scale(1.05);

    -webkit-box-shadow: 0px 0px 100px 0px rgba(218, 165, 32, 0.9);
    -moz-box-shadow: 0px 0px 100px 0px rgba(218, 165, 32, 0.9);
    box-shadow: 0px 0px 100px 0px rgba(218, 165, 32, 0.9);
}

.ship-ticket > img,
.ship-card > img {
    flex-grow: 1;
    object-fit: contain;
    height: 15rem;
}

.ship-ticket p,
.ship-card p {
    display: flex;
    align-items: center;
}

.ship-card p {
    margin-bottom: 0.5rem;
}

.ship-ticket p img,
.ship-card p img {
    margin-left: 1rem;
}

.ship-ticket p .tier,
.ship-card p .tier {
    margin-left: 0.5rem;
    margin-right: 0.5rem;

    font-weight: bold;
}

.ship-ticket p .class,
.ship-card p .class {
    margin-left: 0.5rem;
    margin-right: 1rem;

    font-style: italic;
}

.ship-card p .class {
    margin-right: 0.25rem;
}

.ship-ticket p .name,
.ship-card p .name {
    flex-grow: 1;
    margin-left: 1rem;
    text-align: center;
}

.ship-card p .name {
    margin-left: 0rem;
}

.memory-card {
    display: flex;
    flex-direction: column;
    width: 10rem;
    aspect-ratio: 1;
    margin-bottom: 0.5rem;

    background-color: rgba(255, 255, 255, 0.25);

    border-radius: 8px;
    border-color: #daa520;
    border-width: 4px;
    border-style: solid;

    align-content: center;
    align-items: center;
    vertical-align: middle;

    transform:  rotateY(0deg);

    transition: background-color 500ms ease-in-out, transform 1000ms ease-in-out;
}

.memory-card > img,
.memory-card > span {
    display: block;
    opacity: 1;

    transition: opacity 500ms ease-in-out, transform 1000ms ease-in-out;
}

.memory-card > img {
    margin-top: auto;
}

.memory-card > span {
    margin-bottom: auto;
    text-align: center;
}

.memory-card > span[hidden] {
    display: none;
}

.memory-card[hidden] {
    display: flex;
    flex-direction: column;
    opacity: 1;

    background-color: goldenrod;

    transform: rotateY(180deg);
}

.memory-card[hidden]:hover {
    cursor: pointer;
}

.memory-card[hidden] > img,
.memory-card[hidden] > span {
    display: block;
    opacity: 0;
}

.memory-card[hidden] > img{
    width: 0%;
    height: 0%;
}

.memory-card[hidden] > span {
    margin-top: 5.5rem;
}

.memory-card[success] {
    animation: blink-green 0.5s;
}

.memory-card[fail] {
    animation: blink-red 0.5s;
}

@keyframes blink-green {
    0% {
        background-color: green;
    }
    25% {
        background-color: rgba(255, 255, 255, 0.25);
    }
    50% {
        background-color: green;
    }
    75% {
        background-color: rgba(255, 255, 255, 0.25);
    }
}

@keyframes blink-red {
    0% {
        background-color: red;
    }
    25% {
        background-color: rgba(255, 255, 255, 0.25);
    }
    50% {
        background-color: red;
    }
    75% {
        background-color: rgba(255, 255, 255, 0.25);
    }
}

.ticket-container {
    
}

.ticket-canvas {
    position: absolute;
    
    height: calc(20rem - 8px);
    width: calc(35rem - 8px);
}

@media (max-width: 768px) {
    .ship-ticket {
        width: 25rem;
        height: 14.5rem;
    }

    .ship-ticket > img {
        flex-grow: 1;
        object-fit: contain;
        height: 9.5rem;
    }

    .ticket-canvas {
        height: calc(14.5rem - 8px);
        width: calc(25rem - 8px);
    }
}


/* Randomize */

.randomize-wrapper {
    width: 600px;
}

.randomize {
    position: absolute;
    width: auto;
    height: auto;

    perspective: 1000px;
    perspective-origin: 50% 50%;

    opacity: 1;

    z-index: -1;

    transition: opacity 500ms ease-in;
}

.randomize[stop] {
    opacity: 0;
}

.tombola {
    --width: 600px;
    position: relative;
    width: var(--width);
    height: calc(var(--width) / 3);
    margin: 120px auto;
    transform-style: preserve-3d;
    transform-origin: center center -480px;
    transform: rotateX(0deg) translateZ(-480px);
    transition: 5s ease-in transform;
}
  
.panel {
    top: 0px;
    padding: 60px;
    font-size: 40px;
    font-weight: bold;
    text-transform: uppercase;
    position: absolute;
    width: var(--width);
    height: calc(var(--width) / 3);
    color: white; 
    text-align: center;
    line-height: 2em; 
    background: rgba(255, 255, 255, 0.25);
    border: 1px solid white;
}

.memory_grid {
    display: grid;
    grid-template-columns: repeat(4, 10rem);
    grid-template-rows: repeat(4, 10rem);
    gap: 0.5rem;
    margin-bottom: 2rem;
}

.p1 { 
    transform: translateZ(calc(var(--width) * 0.4));
}

.p2 { 
    transform: rotateX(-45deg) translateZ(calc(var(--width) * 0.4));
} 

.p3 { 
    transform: rotateX(-90deg) translateZ(calc(var(--width) * 0.4));
}

.p4 { 
    transform: rotateX(-135deg) translateZ(calc(var(--width) * 0.4));
}

.p5 { 
    transform: rotateX(-180deg) translateZ(calc(var(--width) * 0.4));
}

.p6 { 
    transform: rotateX(-225deg) translateZ(calc(var(--width) * 0.4));
}

.p7 { 
    transform: rotateX(-270deg)  translateZ(calc(var(--width) * 0.4)); 
}

.p8 { 
    transform: rotateX(45deg) translateZ(calc(var(--width) * 0.4));
}

@media (max-width: 1300px) {
    section {
        flex-direction: column-reverse;
    }

    .randomizer {
        margin-left: 0;
        margin-bottom: 5rem;
    }

    .ship-list {
        margin-left: auto;
        margin-right: auto;
    }
}

@media (max-width: 768px) {
    .tombola {
        --width: 400px;
    }

    .randomize-wrapper {
        width: 400px;
    }
}

.pop-animation {
    animation: grow-shrink 1s ease-in-out infinite;
}

@keyframes grow-shrink {
    0% {
        transform: scale(1.0);
    }
    50% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1.0);
    }
}

.april-fool {
    font-size: xx-large;
    font-weight: bold;
    height: 60vh;
    line-height: 60vh;
    text-align: center;
}

.nauty-message-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    pointer-events: none;
}

.nauty-message {
    display: flex;
    position: fixed;
    max-width: 30rem;
    bottom: 1rem;
    right: 1rem;

    padding: 1rem;

    background-color: #333333;
    box-shadow: 0px 0px 5px #000000;
    border-radius: 1rem;

    pointer-events: all;

    animation: showMessage 0.5s ease-in-out forwards;
}

.nauty-message img {
    width: auto;
    height: 5rem;
}

.nauty-message div {
    display: flex;
    flex-direction: column;

    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 0.5rem;
}

.nauty-message span {
    font-weight: bold;
}

.nauty-message p {
    margin-top: auto;
    color: rgba(255, 255, 255, 0.75);
}

.nauty-message a {
    position: absolute;
    --size: 1.5rem;
    width: var(--size);
    height: var(--size);
    top: calc(var(--size) * -0.25);
    right: calc(var(--size) * -0.25);
    line-height: var(--size);
    text-align: center;

    background-color: #fff;
    color: #000;
    border-radius: var(--size);

    transition: background-color 0.25s ease-in-out;
}

.nauty-message a:hover {
    background-color: #bebebe;

    text-decoration: none;
    cursor: pointer;
}

@keyframes hideMessage {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes showMessage {
    0% {
        opacity: 0;
        transform: translateX(200px);
    }
    100% {
        opacity: 1;
        transform: translateX(0px);
    }
}

/* Footer */

footer {
    display: flex;
    min-height: 4.5rem;

    padding-left: var(--side-paddding);
    padding-right: var(--side-paddding);

    align-items: center;
    justify-content: space-between;

    background-color: #333333;
}

@media (max-width: 768px) {
    footer {
        flex-direction: column;
        padding: 1rem 0;
    }

    footer * {
        margin: 0.5rem 0;
    }
}