:root {
    font-family: "Roboto", sans-serif;
    color: white;

    --side-paddding: 10.625rem;
}

body {
    display: flex;
    flex-direction: column;

    background-color: rgba(16, 32, 49, 1);

    justify-content: space-between;
}

b {
    font-weight: bold;
}

i {
    font-style: italic;
}

a,
.clickable {
    cursor: pointer;
    color: rgb(0, 140, 255);
    text-decoration: none;
}

a:hover,
.clickable:hover {
    color: rgb(0, 140, 255);
    text-decoration: underline;
}

.background-image {
    position: fixed;
    width: 100%;
    height: 100%;

    opacity: 0.25;

    object-fit: cover;

    z-index: -999;
}

.no-scrollbars {
    overflow: hidden;
}

.no-scrollbar-h,
.no-scrollbar-x {
    overflow-x: hidden;
}

.no-scrollbar-v,
.no-scrollbar-y {
    overflow-y: hidden;
}

@media (max-width: 1300px) {
    :root {
        --side-paddding: 4rem;
    }
}

@media (max-width: 768px) {
    :root {
        --side-paddding: 1rem;
    }
}

/* Header */

header {
    display: flex;

    min-height: 3.75rem;

    padding-left: var(--side-paddding);
    padding-right: var(--side-paddding);

    align-items: center;

    background-color: #333333;
}

h1 {
    font-size: 20pt;
    font-weight: bold;
}

.header-label {
    margin-left: 2rem;
}

.special {
    display: inline-block;

    color: white;

    font-size: 16pt;
    padding: 0.75rem;
    padding-left: 0.5rem;

    transform: rotate(-20deg);
    transform-origin: center center;

    background-color: red;
    clip-path: polygon(48% 11%, 57% 26%, 66% 11%, 68% 28%, 79% 19%, 79% 36%, 91% 41%, 82% 52%, 91% 64%, 82% 67%, 86% 84%, 76% 75%, 76% 94%, 68% 78%, 63% 94%, 58% 80%, 52% 96%, 48% 81%, 43% 96%, 40% 78%, 33% 95%, 32% 77%, 25% 91%, 24% 73%, 17% 91%, 17% 73%, 6% 78%, 13% 61%, 4% 56%, 12% 47%, 5% 32%, 14% 31%, 15% 14%, 23% 25%, 30% 10%, 38% 21%);
}

@media (max-width: 1300px) {
    .game {
        display: none;
    }
}

@media (max-width: 768px) {
    header {
        flex-direction: column;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
    }
}

/* Section */

section {
    display: flex;
    flex-direction: row;

    padding-left: var(--side-paddding);
    padding-right: var(--side-paddding);
}

.ship-list {
    width: 20rem;

    background-color: rgba(255, 255, 255, 0.25);

    margin-top: 2rem;
    padding: 2.25rem 2rem;

    border-style: solid;
    border-radius: 4px;
    border-color: rgba(255, 255, 255, 0.75);
    border-width: 1px;
}

.ship-list h2 {
    font-size: 16pt;
    font-weight: bold;
    margin-bottom: 1rem;
}

.ship-list ul {
    list-style-type: none;

    min-height: 10rem;
    max-height: calc(100vh - 44.25rem);

    margin-top: 0.5rem;

    overflow: auto;
}

.ship-list li {
    padding: 0.25rem 0.5rem;
}

.ship-list li img {
    display: inline;

    height: 1.25rem;
    width: auto;

    margin-right: 0.5rem;
    margin-left: 0.5rem;
    margin-bottom: -0.25rem;
}

.ship-list li .tier {
    display: inline-block;
    width: 1.5rem;
    font-weight: bold;
    margin-right: 0.5rem;
}

.ship-list li .class {
    margin-right: 0.5rem;
    font-style: italic;
}

.flag {
    display: inline;

    height: 1.25rem;
    width: auto;

    margin-bottom: -0.3rem;
}

.large  {
    height: 4rem;

    margin-bottom: 0px;
}

.filter-list label {
    margin-right: 0.5rem;
}

.randomizer {
    margin-top: 2rem;
    margin-left: 2rem;
}

.premium {
    color: goldenrod;
}

.otherProjects {
    margin-top: 2rem;
}

.otherProjects p {
    line-height: 1.5rem;
}


@media (max-width: 1300px) {
    .ship-list {
        margin-bottom: 2rem;
    }

    .otherProjects {
        display: none;
    }
}

/* Search Bar */

.search-bar {
    margin-bottom: 0.5rem;
    padding: 0.5rem 0.5rem;

    border-color: white;
    border-style: solid;
    border-width: 1px;
    border-radius: 100vh;
}

.search-bar input[type="text"] {
    width: 100%;
    background-color: transparent;

    margin-left: 0.5rem;
    margin-right: 0.5rem;

    border: none;

    color: white;
}

.search-bar input[type="text"]:focus {
    border: none;
    outline: 0;
}

.search-bar input[type="text"]::placeholder {
    color: rgba(255, 255, 255, 0.75);
}

/* Custom Elements */

space {
    display: inline-block;
}

space[size="small"] {
    width: 1rem;
}

space[size="medium"] {
    width: 2rem;
}

space[size="large"] {
    width: 4rem;
}

/* Ship Ticket */

.ship-ticket {
    display: flex;
    flex-direction: column;

    width: 35rem;
    height: 20rem;

    background-color: rgba(255, 255, 255, 0.25);

    border-radius: 8px;
    border-color: goldenrod;
    border-width: 4px;
    border-style: solid;

    margin-inline: auto;

    transition: opacity 500ms ease-in-out, transform 1000ms ease-in-out;
    opacity: 1;
}

.ship-ticket[hidden] {
    opacity: 0;
    transform: rotateY(720deg) translateY(25px) scale(0.8);
}

.ship-ticket > img {
    flex-grow: 1;
    object-fit: contain;
    height: 15rem;
}

.ship-ticket p {
    display: flex;
    align-items: center;
}

.ship-ticket p img {
    margin-left: 1rem;
}

.ship-ticket p .tier {
    margin-left: 0.5rem;
    margin-right: 0.5rem;

    font-weight: bold;
}

.ship-ticket p .class {
    margin-left: 0.5rem;
    margin-right: 1rem;

    font-style: italic;
}

.ship-ticket p .name {
    flex-grow: 1;
    margin-left: 1rem;
    text-align: center;
}

.ticket-container {
    
}

.ticket-canvas {
    position: absolute;
    
    height: calc(20rem - 8px);
    width: calc(35rem - 8px);
}

@media (max-width: 768px) {
    .ship-ticket {
        width: 25rem;
        height: 14.5rem;
    }

    .ship-ticket > img {
        flex-grow: 1;
        object-fit: contain;
        height: 9.5rem;
    }

    .ticket-canvas {
        height: calc(14.5rem - 8px);
        width: calc(25rem - 8px);
    }
}


/* Randomize */

.randomize-wrapper {
    width: 600px;
}

.randomize {
    position: absolute;
    width: auto;
    height: auto;

    perspective: 1000px;
    perspective-origin: 50% 50%;

    opacity: 1;

    z-index: -1;

    transition: opacity 500ms ease-in;
}

.randomize[stop] {
    opacity: 0;
}

.tombola {
    --width: 600px;
    position: relative;
    width: var(--width);
    height: calc(var(--width) / 3);
    margin: 120px auto;
    transform-style: preserve-3d;
    transform-origin: center center -480px;
    transform: rotateX(0deg) translateZ(-480px);
    transition: 5s ease-in transform;
}
  
.panel {
    top: 0px;
    padding: 60px;
    font-size: 40px;
    font-weight: bold;
    text-transform: uppercase;
    position: absolute;
    width: var(--width);
    height: calc(var(--width) / 3);
    color: white; 
    text-align: center;
    line-height: 2em; 
    background: rgba(255, 255, 255, 0.25);
    border: 1px solid white;
}

.p1 { 
    transform: translateZ(calc(var(--width) * 0.4));
}

.p2 { 
    transform: rotateX(-45deg) translateZ(calc(var(--width) * 0.4));
} 

.p3 { 
    transform: rotateX(-90deg) translateZ(calc(var(--width) * 0.4));
}

.p4 { 
    transform: rotateX(-135deg) translateZ(calc(var(--width) * 0.4));
}

.p5 { 
    transform: rotateX(-180deg) translateZ(calc(var(--width) * 0.4));
}

.p6 { 
    transform: rotateX(-225deg) translateZ(calc(var(--width) * 0.4));
}

.p7 { 
    transform: rotateX(-270deg)  translateZ(calc(var(--width) * 0.4)); 
}

.p8 { 
    transform: rotateX(45deg) translateZ(calc(var(--width) * 0.4));
}

@media (max-width: 1300px) {
    section {
        flex-direction: column-reverse;
    }

    .randomizer {
        margin-left: 0;
        margin-bottom: 5rem;
    }

    .ship-list {
        margin-left: auto;
        margin-right: auto;
    }
}

@media (max-width: 768px) {
    .tombola {
        --width: 400px;
    }

    .randomize-wrapper {
        width: 400px;
    }
}

/* Footer */

footer {
    display: flex;
    min-height: 4.5rem;

    padding-left: var(--side-paddding);
    padding-right: var(--side-paddding);

    align-items: center;
    justify-content: space-between;

    background-color: #333333;
}

@media (max-width: 768px) {
    footer {
        flex-direction: column;
        padding: 1rem 0;
    }

    footer * {
        margin: 0.5rem 0;
    }
}